# Configuration de la base de données SDAU Zorgho
# SÉCURITÉ : Ne jamais commiter ce fichier dans Git
ENV=local
DEBUG=True
# Base de données PostgreSQL/PostGIS
DB_NAME=SDAU_ZORGHOV2
DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432

# Sécurité Django
SECRET_KEY=Yves0505
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Configuration application
SESSION_COOKIE_AGE=120
SESSION_SAVE_EVERY_REQUEST=True

# CORS (pour le développement)
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Coordonnées de Zorgho (pour centrer la carte)
ZORGHO_LAT=12.2500
ZORGHO_LON=-0.6167
ZORGHO_ZOOM=13


ENV=production
DEBUG=False
SECRET_KEY=7!oxz9mk##mx^@xv2l+qn96@9pauefjil&)grow9btxz!lxo+r
DATABASE_URL=postgresql://postgres.xdtcblacysrsfnumhpix:05@maiT.Yveshyacinte@05@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
ALLOWED_HOSTS=sdau-zorgho-1.onrender.com
CSRF_TRUSTED_ORIGINS=https://sdau-zorgho-1.onrender.com
CORS_ALLOWED_ORIGINS=https://sdau-zorgho-1.onrender.com